# 1. Dataset Creation

In [20]:
import pandas as pd
import os
import glob

dataloc = "Data/bbc"
categories = sorted([cat for cat in os.listdir(dataloc) if os.path.isdir(os.path.join(dataloc,cat))])

data = {'File_Name':[], 'Content':[], 'Category':[]}

#read all files in each folder
for cat in categories:
    list_files = glob.glob(os.path.join(dataloc,cat,"*.txt"))
    for fn in sorted(list_files):
        with open(fn, 'r',encoding='utf-8',errors='ignore') as f:
            data['File_Name'].append(fn)
            data['Content'].append(f.read())
            data['Category'].append(cat)

df = pd.DataFrame(data)

list_columns = ["File_Name", "Category", "Content"]
df = df[list_columns]

print(df['Content'][520])

Artists' secret postcards on sale

Postcards by artists including Damien Hirst and Tracey Emin have sold just hours after the opening of the Royal Academy of Arts annual Secrets sale.

The identity of the artist remains unknown until each work is bought and the signature is revealed on the back. "There are still some big names left, such as Mario Testino," said RCA spokeswoman Sue Bradburn. All postcards are priced at Â£35. The sale opened at 8am on Friday and will close at 6pm on Saturday. Ms Bradburn said there was a big queue at the start of the sale but it had now gone down.

She said the people that had bought the famous name postcards had arrived early and had spent time studying each work. "They would have known what to look for." The exhibition has been open for viewing since 19 November. Film director Ken Loach, fashion designer Hussein Chalayan and former Blur guitarist Graham Coxon have all designed postcards for the sale. Some of the contributing artists are students or recent graduates of the Royal College of Art and other leading art colleges. Money raised from the sale will go towards the RCA's Fine Art Student Award Fund which supports students with grants and bursaries. The famous sale is now in its 11th year.

In [22]:
df.head(15)

,File_Name,Category,Content
0,Data/bbc\business\001.txt,business,Ad sales boost Time Warner profit\n\nQuarterly...
1,Data/bbc\business\002.txt,business,Dollar gains on Greenspan speech\n\nThe dollar...
2,Data/bbc\business\003.txt,business,Yukos unit buyer faces loan claim\n\nThe owner...
3,Data/bbc\business\004.txt,business,High fuel prices hit BA's profits\n\nBritish A...
4,Data/bbc\business\005.txt,business,Pernod takeover talk lifts Domecq\n\nShares in...
5,Data/bbc\business\006.txt,business,Japan narrowly escapes recession\n\nJapan's ec...
6,Data/bbc\business\007.txt,business,Jobs growth still slow in the US\n\nThe US cre...
7,Data/bbc\business\008.txt,business,"India calls for fair trade rules\n\nIndia, whi..."
8,Data/bbc\business\009.txt,business,Ethiopia's crop production up 24%\n\nEthiopia ...
9,Data/bbc\business\010.txt,business,Court rejects $280bn tobacco case\n\nA US gove...
10,Data/bbc\business\011.txt,business,Ask Jeeves tips online ad revival\n\nAsk Jeeve...
11,Data/bbc\business\012.txt,business,Indonesians face fuel price rise\n\nIndonesia'...
12,Data/bbc\business\013.txt,business,Peugeot deal boosts Mitsubishi\n\nStruggling J...
13,Data/bbc\business\014.txt,business,Telegraph newspapers axe 90 jobs\n\nThe Daily ...
14,Data/bbc\business\015.txt,business,Air passengers win new EU rights\n\nAir passen...

In [23]:
df.to_csv("Data/News_dataset.csv", sep=';',index=False, encoding='utf-8')